export(rms_true)
export(iv_gain)
export(naive_gain_bias)
export(crossblock_compensation)
export(attenuation_factor)
export(compensation_lower_bound)
export(count_vs_amplitude)
export(reference_class_medians)
export(share_nonadditivity)
export(simulate_closed_sum)
export(admission_checklist)
